.MainDash {
  /* padding-top: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 16px;
}

.navbar {
  background-color: #3f4866;
  margin-top: 0;
  color: #fff;
<<<<<<< HEAD
  height: 6.722%;
=======
>>>>>>> c8738f8a751eda05317e389ca4bf1f8a9c76fee2
  padding-top: 20px;
  padding-left: 40px;
}

@media screen and (max-width: 1200px) {
  .MainDash {
    justify-content: flex-start;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .MainDash {
    align-items: center;
  }
}

.home-head {
  font-size: 30px;
  font-weight: 600;
  color: #3f4866;
  margin: 1rem;
  padding: 1rem;
}

.head {
  margin: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
