.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 4rem;
  transition: all 300ms ease;
  background-color: #3F4866;
}
/* logo */
.bars{
  display: none;
}

.logo {
  display: flex;
  font-weight: bold;
  font-size: 22px;
  gap: 1rem;
  margin-left: 0.4rem;
  align-items:flex-end;
  height: 4%;
  color:#23B4FF;
  font-size: 20px;
}

/* menu */
.menu {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.menuItem {
  display: flex;
  align-items: center;
  gap: 1rem;
 color:#95A2B5;
  height: 2.5rem;
  margin-left: 1rem;
  position: relative;
  transition: all 300ms ease;
  font-size: 14px;
}

.menuItem:hover {
  cursor: pointer;
}

.menu .menuItem:last-child {
  position: absolute;
  bottom: 2.3rem;
  width: 100%;
}

.icon{
  color:#23B4FF;
}

.text{
  color:#FFFFFF;
}

.active {
  background: rgba(186, 186, 186, 0.47);
  margin-left: 0;
}
.active::before {
  content: "";
  width: 10px;
  height: 100%;
}


/* Tablets */
@media screen and (max-width: 1200px) {
  .menuItem>span{
    display: none;
  }
  .logo{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .sidebar{
    position: fixed;
    z-index: 9;
    background: #ffe0e0;
    width: 55%;
    padding-right: 1rem;
    height: 100%;
  }
  .menuItem>span{
    display: block;
  }
  .logo{
    display: flex;
  }
  .menu .menuItem:last-child {
    position: relative;
    margin-top: 6rem;
  }
  .bars{
    display: flex;
    position: fixed;
    top: 2rem;
    left:60%;
    background:#ffe0e0;
    padding:10px;
    border-radius: 10px;
    z-index: 9;
  }
  .close{
    left: -60%;
  }
}

