.MainDash{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 16px;
}

.navbar{
background-color:#3F4866;
margin-top: 0;
color: #fff;
height: 6.722%;
padding-top: 20px;
padding-left: 40px;
}

@media screen and (max-width: 1200px) {
    .MainDash{
        justify-content:flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px)
{
    .MainDash{
        align-items: center;
    }
}
