.RightSide {
  display: flex;
  flex-direction: column;
  /* padding-top: 1rem; */
  /* width: 95%; */
  justify-content: space-evenly;
}

.calendar-container {
  position: fixed;
  top: 0; /* You can adjust this value based on your layout */
  right: 0;
  /* margin: 1rem; Add margin for better spacing */
  z-index: 101; /* Ensure the calendar is above other elements */
}

@media screen and (max-width: 1200px) {
  .RightSide {
    justify-content: flex-start;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .RightSide {
    /* width: 100%; */
    margin-top: 0;
  }
  .RightSide > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.react-calendar {
  width: 350px;
<<<<<<< HEAD
  max-width: 100%;
=======
  /* max-width: 100%; */
>>>>>>> c8738f8a751eda05317e389ca4bf1f8a9c76fee2
  color: #ffffff;
  background: #19203b;
  /* border: 1px solid #a0a096; */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

/* .react-calendar button:enabled:hover {
  cursor: pointer;
} */

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #ffffff;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #ffffff;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

/* .react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
} */

.react-calendar__tile--now {
  background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.background {
  /* background-color: #19203b; */
  height: 100vh;
  /* width: 100%; */
  display: flex;
  width: 350px;
  /* max-width: 100%; */
  color: #ffffff;
  background: #19203b;
  /* border: 1px solid #a0a096; */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.flex {
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 1rem;
}

.flex > div {
  display: flex;
  padding: 0.5rem;
  margin-left: 1rem;
  scale: 1.1;
}
